---
permalink: /ru/
name: Даир Айдарханов
locale: ru
title: Резюме
description: >-
  Страница-резюме, содержащая знание технологий, языков и
  другую личную информацию.

introduction:
  greeting: Привет, я Даир
  about: Веб-разработчик, нахожусь в Риге, Латвия

language_switcher:
  heading: Поменять язык

contacts:
  interface:
    heading: Связаться со мной
    email: Почта
    telegram: Телеграм

  email: work@dair.lv
  telegram: rjazsenka

copyright:
  love_decorative: Сделано с любовью 💝
  love: Сделано с любовью

skills:
  - heading: Навыки
    list:
      - heading: PHP
        description: >-
          Знаком с Laravel, OOP, паттернами проектирования,
          PSR стандартами, практиками безопасности.
      - heading: JavaScript
        description: >-
          Фронтенд разработка, React, Svelte, знаком с PWA.
      - heading: HTML
        description: >-
          Знаю семантическую вёрстку и могу протестировать
          её в инструментах доступности (VoiceOver).
      - heading: CSS
        description: >-
          Есть концептуальное понимание BEM, применяю
          современные практики вёрстки: grid, container
          queries.
      - heading: SQL
        description: >-
          Могу создать простую структуру таблиц и
          обратиться за данными в базу данных.

  - heading: Знаком с
    list:
      - heading: Git
        description: >-
          Могу контрибьютить в проекты, делать коммиты и
          работать в разных ветках.
      - heading: SOLID
        description: >-
          Практиковал принципы SOLID, могу применять каждый
          по необходимости.

  - heading: Языки
    list:
      - heading: Английский
        description: Свободный.
      - heading: Русский
        description: Свободный.
      - heading: Латышский
        description: Базовый уровень, но на месте не стою.
---
<!doctype html>
<html class="page" lang="{{ locale }}">

<head>
  <title>{{ name }} — {{ title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">

  <link rel="icon" type="image/png" sizes="160x160" href="/images/icons/160.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/16.png">
  <link rel="icon" type="image/svg+xml" sizes="any" href="/images/icons/any.svg">
  <link rel="apple-touch-icon" href="/images/icons/160.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/styles/screen.css">
  <link rel="stylesheet" href="/styles/print.css" media="print">
</head>

<body class="page__body">

<header class="header">
  <section class="introduction">
    <h1 class="introduction__greeting">{{ introduction.greeting }}</h1>
    <p class="introduction__about">{{ introduction.about }}</p>
  </section>

  <nav class="language-switcher header__language-switcher" aria-labelledby="language-switcher">
    <h2 class="visually-hidden" id="language-switcher">{{ language_switcher.heading }}</h2>

    <ul class="language-switcher__list">
      <li class="language-switcher__list-item">
        <a class="language-switcher__language" aria-label="Латышский" href="/lv/">🇱🇻</a>
      </li>

      <li class="language-switcher__list-item">
        <a class="language-switcher__language" aria-label="Английский" href="/">🇺🇸</a>
      </li>
    </ul>
  </nav>
</header>

<main class="main">
{%- for skill in skills %}
  <section class="skills">
    <h2 class="skills__heading">{{ skill.heading }}</h2>

    <dl class="skills__list">
    {%- for item in skill.list %}
      <dt class="skills__item-heading">{{ item.heading }}</dt>
      <dd class="skills__item-description">{{ item.description }}</dd>
    {%- endfor %}
    </dl>
  </section>
{%- endfor %}

  <section class="contacts">
    <h2 class="contacts__heading">{{ contacts.interface.heading }}</h2>

    <dl class="contacts__list">
      <dt class="contacts__label">{{ contacts.interface.email }}</dt>
      <dd class="contacts__item">
        <a class="contacts__link" href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
      </dd>

      <dt class="contacts__label">{{ contacts.interface.telegram }}</dt>
      <dd class="contacts__item">
        <a class="contacts__link" href="https://t.me/{{ contacts.telegram }}">@{{ contacts.telegram }}</a>
      </dd>
    </dl>
  </section>
</main>

<footer class="copyright">
  <p class="copyright__item">{% year %}</p>
  <p class="copyright__item copyright__item--love" aria-hidden="true">{{ copyright.love_decorative }}</p>
  <p class="visually-hidden">{{ copyright.love }}</p>
</footer>

<script type="module" src="/scripts/main.js"></script>

</body>

</html>
