---
title: CV
description: A CV page consisting of a personal information, list of known technologies and experience
email: aidarkhanov.dair@gmail.com
phone_number: "+37122052780"

sections:
  - name: Skills
    list:
      - item: PHP
        description: Familiar with Laravel, OOP, design patterns, PSR standards, basic security.
      - item: JavaScript
        description: Front-end development, React, Svelte, familiar with PWA.
      - item: HTML
        description: Know how to create semantic markup and test the markup with the accessibility tools (VoiceOver).
      - item: CSS
        description: Have a conceptual understanding of BEM, modern styling techniques, such as grid, scopes, container queries.
      - item: SQL
        description: Able to design simple table structure, layout their relationship and make queries to the database.

  - name: Familiar with
    list:
      - item: Git
        description: Know how to contribute into projects, make commits and push changes, work on different branches.
      - item: SOLID
        description: Practiced each principle of SOLID and can use them whenever they are a good fit.

  - name: Languages
    list:
      - item: English
        description: Fluent proficiency.
      - item: Russian
        description: Native speaker.
      - item: Latvian
        description: Very basic but constantly improving.
---
<!doctype html>
<html class="page" lang="en-US">

<head>
  <title>Dair Aidarkhanov | {{ title }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">

  <link rel="icon" type="image/png" sizes="160x160" href="/images/icons/160.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/16.png">
  <link rel="icon" type="image/svg+xml" sizes="any" href="/images/icons/any.svg">
  <link rel="apple-touch-icon"  href="/images/icons/160.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/styles/screen.css">
  <link rel="stylesheet" href="/styles/print.css" media="print">
</head>

<body class="page__body">

<header class="header">
  <h1 class="header__name">Hey, I’m Dair</h1>
  <p class="header__description">A web developer based in Riga, Latvia</p>
</header>

<main class="main">
{%- for section in sections %}
  <section class="skills">
    <h2 class="skills__heading">{{ section.name }}</h2>

    <dl class="skills__list">
    {%- for item in section.list %}
      <dd class="section__list-heading">{{ item.item }}</dd>
      <dt class="skills__list-description">{{ item.description }}</dt>
    {%- endfor %}
    </dl>
  </section>
{%- endfor %}

  <section class="contacts">
    <h2>Connect with me!</h2>

    <a href="mailto:aidarkhanov.dair@gmail.com">aidarkhanov.dair@gmail.com</a>
    <a href="tel:+37122052780">+371 220 527 80</a>
  </section>
</main>

<footer class="footer">
  2022
</footer>

<script type="module" src="/scripts/main.js"></script>

</body>

</html>
